header{
    background-color: #fff;
    font-family: TRYClother-Regular;
}

.Container{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 80%; 
    margin: 0 auto; 
    justify-content: space-between
}

.Container img{
    width: auto; 
    height: 100px; 
    object-fit: contain
}