.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
  }
  
  .modal .marco {
    width: auto;
    height: auto;
    padding: 50px;
    outline: none;
    margin-left: 90px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
  }
  
  .modal .header {
    background-color: #dadada;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  
  .modal .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .modal .titulo {
    text-align: center;
    font-size: 15px;
  }
  
  .modal .input {
    width: 100%;
  }

  .text-right {
    text-align: right;
  }