.Page1{
    width: 100%;
    height: 88vh; 
    display: block; 
    overflow: hidden; 
    /* background-color: red; */
}

.Page1 .dot {
    height: 480px;
    width: 480px;
    background-color: #F6ECE1;
    border-color: #F6ECE1;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 100px;
}

.Page1 .Title{
    letter-spacing: 0;
    font-family: TRYClother-Regular;
    color: #D87206;
    font-size: 45px;
    line-height: 55px;
}

.Page1 .Logo{
    position: absolute;
    left: 9%;
    width: 35%;
    height: auto;
    top: 30%;
}

.Page1 .InfoContainer{
    position: relative; 
    top: 15vh; 
    left: 42vw; 
    width: 65%
}

.Page1 .ButtonContainer{
    display: flex; 
    flex-direction: row; 
    margin-top: 80px; 
    margin-left: 15%
}