.Page2 {
    font-family: TRYClother-Regular;
    width: 100%; 
    height: 90vh; 
    display: block; 
    position: relative; 
    overflow: hidden;
}

.Page2 .Title{
    letter-spacing: 0;
    font-family: TRYClother-Regular;
    color: #D87206;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
}

.Page2 .Logo{
    /* position: absolute; */
    /* left: 9%; */
    width: 60px;
    height: auto;
    color: red;
    margin: 0px
    /* top: 30%; */
}

.Page2 .servicesContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    background-color: #F6ECE1; 
    border-radius: 30px; 
    margin: 20px 80px 0px 20px
}

.Page2 .serviceContainer{
    margin: 30px auto 0px;
    text-align: center;
}

.Page2 .mainTitle{
    color: #3F3D56;
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
}

.Page2 .subTitle{
    color: red;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
}