.Page3 {
    font-family: TRYClother-Regular;
    width: 100%; 
    height: 90vh; 
    display: block; 
    position: relative; 
    overflow: hidden;
}

.Page3 .Title{
    letter-spacing: 0;
    font-family: TRYClother-Regular;
    color: #D87206;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
}